---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
import ContactForm from '../components/ContactForm.astro';
import ServicesSection from '../components/ServicesSection.astro';
import OurServices from '../components/OurServices.astro';
import Maparea from '../components/Maparea.astro';
import ContactIcons from '../components/ContactIcons.astro';
---

<Layout>
  <Navbar />

  <main class="container">
    <section class="hero">
      <h1>Welcome to Swami E-Service Solutions</h1>
      <p>Swami Maha E Seva Kendra: Your one-stop center for hassle-free administrative services. We simplify complex processes for Domicile, Income, and Non-Creamy Layer Certificates, ensuring accurate and timely documentation. Get your Online Leave and License agreements, Marriage Certificates, and Gazetted Notifications processed efficiently. We also assist with New Driving Licenses, Vehicle Insurance, and Senior Citizen Cards. Our expertise extends to Udyam Registration, Gumasta License, FSSAI License, Voter ID Card issuance, GST Registration, and Passport Seva. Benefit from our fast, reliable, and expert services. Visit us today for a seamless experience! 😊</p>
    </section>


	<section id="services">
		<OurServices />
	</section>

	<section id="What_we_provide">
		<ServicesSection />
	</section>



<section id="contactform">
	<ContactForm />
</section>


<section id="location">
  <Maparea />
</section>

<section id="contactIcons">
  <ContactIcons />
</section>


    <section id="contact" class="contact">
      <h2>Need Help?</h2>
      <p>Call us or reach out via email for personalized assistance. We’re here to make digital services simple for everyone.</p>
    </section>

  </main>
</Layout>

