<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="logo">Swami online Services</a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/#services">Services</a></li>
      <li><a href="/#contactform">Contact</a></li>
    </ul>
  </div>
</nav>
